body{
    background-color: azure;
}

#corpo{
    display: flex;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,35,64,1) 44%, rgba(0,212,255,1) 100%);
        padding: 60px;
        text-align: center;  
        margin:0px;
    
}

header h1{ 
    display: flex;
    justify-content: center;
    color: aliceblue;

}
header h4{
    display: flex;
    justify-content: center;
    color: aliceblue;
}


footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,35,64,1) 44%, rgba(0,212,255,1) 100%);

}

#esquerda{
    justify-content: flex-start;
    width: 20%;
}