body{
    background-color: azure;
    
}

#corpo{
    display: flex;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,35,64,1) 44%, rgba(0,212,255,1) 100%);
        padding: 60px;
        text-align: center;  
        margin:0px;
    
}

header h1{ 
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;

}

header h4{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
}

nav{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,35,64,1) 44%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: end;
    text-align: right;

}

nav a{
    color: aliceblue;
    padding: 14px 20px;
    text-align: center;
    font-size:larger;
    font-family:'Courier New', Courier, monospace;
}

nav a:hover{
    background-color: azure;
    color: black;
    transition-duration: 0.5s;
    text-decoration: none;
}

#carrinho{
    width: 20%;

}

li a{
    font-family:'Courier New', Courier, monospace;
}

#foto-pagina-inicial{

width: 100%;

 
}

#avaliacao{
    width: 100%;
    
}

.bootstrap-carrosel{
    justify-content: center;
    padding-left: 40%;
}

.vitrine{
    border-color: black;
    border-style: ridge;
    border-width: 1px;
}

.itens{
    
    max-width: 500px;
    height: auto;
}

footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,35,64,1) 44%, rgba(0,212,255,1) 100%);

}

#centro{
    width: 70%;
    background-color:white;
}

#esquerda{
    justify-content: flex-start;
    width: 20%;
}

footer{
    display: flex;
    justify-content: space-around;
}

footer h2{
    color: aliceblue;
}